extends ./layout

block content
  form#editForm(method='POST')
    input(type='hidden', name='_method', value='PUT')
    ul
      li
        | Product Name:&nbsp
        input(type='text', name='name', value='#{product.name}')
        br
      li
        | Product Inventory:&nbsp
        input(type='text', name='inventory', value='#{product.inventory}')
        br
      li
        | Product Price:&nbsp
        input(type='text', name='price', value='#{product.price}')
        br
    input(type='submit' value='Submit Product')