extends ./../layout

block content
  form#editForm(method='POST')
    input(type='hidden', name='_method', value='PUT')
    ul
      li
        | Product Name:&nbsp
        input(type='text', name='pName', value='#{product.name}')
        br
      li
        | Product Inventory:&nbsp
        input(type='text', name='pInventory', value='#{product.inventory}')
        br
      li
        | Product Price:&nbsp
        input(type='text', name='pPrice', value='#{product.price}')
        br
    input(type='submit' value='Submit Product')