extends ./../layout

block content
  each product in products
    ul
      li Product Name:&nbsp;
        a(href='/products/#{product.id}') #{product.name}
      li &nbsp;
        a(href='/products/#{product.id}/edit') Edit
  a.btn(href='/products/new') New
